/*Whole Webpage*/
body {
  color: gold;
  background-color: black;
}

div {
  height: 100%;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: auto;
}


/*Logo and Header*/ /*I put the logo to the left of the header*/
#logo {  /*Credit has been given.  Posted in website in the footer.*/
  border-radius: none;
  float: left !important;
  clear: left !important;
  height: 89px;
  width: 100px;
}

h3 {
  text-align: left;
  margin: 5px;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}


/*Featured Projects*/ /*When I made the actual featured projects, I wasn't taught responsive design yet. I am strapped for time trying to finish this course, work, do extra curricular web projects, and a data 
                        science scholorship or else I would work on making them responsive design as well.  I will work on them in the future so it displays nicely as a project.*/
.featured-projects {
  border: solid gold 2px;
}

a {
  text-decoration: none;
  color: gold;
  display: block;
  background-color: gray;
  box-shadow: 5px 5px 5px gold;
  border-radius: 20%;
  text-align: center;
}

a:hover {
  background-color: gold;
  color: black;
  box-shadow: 3px 3px 3px lightgreen;
}

p {
  margin: 5px;
  text-align: center;
}

.cropped {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*About Me*/
.about-me {
  position: relative;
}

div.about-me img {
  border-radius: 50%;
  float: left;
  clear: left;
}

/*Footer*/
span {
  margin-left: 30px;
}

footer a {  
  background-color: black;
}

/*Media Queiries*/ /* I fixed spacing by enlarging text and images.*/
@media screen and (min-width: 600px){
  #logo {
    height: 173px;
    width: 195px;
  }
  
  h3{
    font-size: 2.2em;
  }

  p {
    font-size: 1.5em;
  }
  
  a {
    font-size: 1.5em;
  }
  
  .cropped {
    width: 50%;
  }
}

@media screen and (min-width: 1125px){  /* I rearanged 2 projects to be side by side.*/ 
.featured-projects {
  display: flex; 
  flex-wrap: wrap;
}
  
  .project1 {
    width: 50%;
  }

  .project2 {
    width: 50%;
  }
      
  .project3 {
    width: 100%
  }
}

